img{
    margin: 5%;
    width: 90%;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

div{
    background-color: white;
    display: flex;
    overflow-y: scroll;
    width: 80%;
    height: 80%;
    margin: auto;
    align-items: center;
    flex-direction: column;
}